header {
    max-width: 100%;
}

header img {
    padding: 0 25%;
    background-color: #b9b5aa;
}


body {
    font-family:'Open-sans', sans-serif;
    color: #333;
}

p {
    font-size: 32px;
    text-align: justify;
}

ul {
    font-size: 32px;

}

h1 {
    text-align: center;
    color: #474747;
    background-color: #ebebe9;
}


.container {
    background-color: #ebebe9;
}

.container {
    clearfix;
}


img. center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Lesliephoto {
    margin-top: 75px;
    
}



.row .col-sm-6 a {
    column-count: @count;
    padding-left: 80px;
    font-size: 32px;
    
}

.row img {
    padding-left: 150px;
}

}
a:hover {
    color: purple;
}

a: click {
    color: black;
}



footer {
    text-align: center;
    font-size: 2em;
    color: purple;
    
}
    